<body>
  <div> 
    <canvas id="myChart2" style="width:100%;max-width:700px"aria-label="Hello ARIA World" role="img"></canvas>
   
  </div> 
 </body>
 
 
 
 
 
 
 
 
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
 <script>
   var ele=document.getElementById("myChart2");
 var x= <%- JSON.stringify(x2) %>;
     var y= <%- JSON.stringify(y2) %> ;
  
   var barColors = [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ];
            new Chart(ele, {
   type: "bar",
   data: {
     labels: x,
     datasets: [
     {
       backgroundColor: barColors,
       data: y
     },
   
    ],
  },
    options: {
      title: {
        display: true,
        text: 'Victim Gender vs Offence Count',
        fontSize: 20,
        fontStyle: 'bold',
      },
      legend: {
        display: false

      },

      scales: {
        xAxes: [{
          display: true,
          scaleLabel: {
            display: true,
            labelString: 'Victim Gender',
            fontSize: 20,
            fontStyle: 'bold',
          }
        }],
        yAxes: [{
          display: true,
          scaleLabel: {
            display: true,
            labelString: 'Number of Offences',
            fontSize: 20,
            fontStyle: 'bold',
          },
          ticks: {


            beginAtZero: true,
            stepSize: 1
          }
        }]
      }
    }

  });
</script>
